html, body {
    margin: 10px;
    padding: 0px;
    background-color: #222222;
    color: #eeeeee;
    text-align: center;
    width: auto;
    height: auto;
}

input {
    margin: 5px;
    padding: 3px;
    color: #eeeeee;
    border: 1px solid transparent;
}
input[type=button],
input[type=submit] {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
input[type=button]:hover,
input[type=submit]:hover {
    border-color: #dddddd;
}
input[type=button]:active,
input[type=submit]:active,
input[type=text] {
    background-color: #444444;
    border-bottom: 1px solid white;
}
*:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* toggle button */
#theme-toggle {
    display: none;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 5px;
    padding: 2px;
    background-color: #505050;
    border: 1px solid #808080;
    border-radius: 35px;
    cursor: pointer;
}
.toggle-button {
    position: absolute;
    left: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 35px;
    background-color: #ff3333;
    box-shadow: inset 0px 0px 5px #ff8080;
    transition: left 0.3s ease-in-out, background-color 0.3s;
}

#theme-toggle:checked + .toggle .toggle-button {
    left: 20px !important;
    background-color: #33ff33;
    box-shadow: inset 0px 0px 5px #80ff80;
}
